.team-full-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    /* background: blue; */

    background-image: url('../public/newLines.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.team-title {
    color: black;
    text-align: center;
    font-size: 3rem;
    text-shadow: 8px 5px 7px rgba(180, 145, 91, 0.35);
}

.cards-div {
    width: 80%;
    display: flex;
    
    margin: 3rem 3rem;
}

.card {
    padding-bottom: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

.team-img {
    scale: 0.75;
    margin-bottom: 2rem;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(250, 250, 250, 0.6);
    border-radius: 4rem;
    margin-top: 1rem;
}

.team-name {
    margin: 0;
}

.team-info {
    text-indent: 30px;
    width: 75%;
    font-size: 1.5rem;
    margin: 0.25rem 0;
}
